.main-bio-box {
  background-color: #364452;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-bio-box {
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e2e1e0;
  border-radius: 5px;
  box-shadow: 0 0 33px -5px rgba(150, 245, 232, 1);
  
}

#main-bio-pic {
  height:200px;
  width: 150px;
  margin-left: 10px;
}

.main-bio {
  max-width: 500px;
  padding-left: 20px;
}

#bio-title {
  color: #000000;
  text-align: left;
  padding-left: 10px;
  font-family: 'Montserrat', sans-serif;
}

#bio-statement {
color: #000000;
/* border-style: solid; */
/* border-color: #96f5e8; */
/* border-width: 1px; */
text-align: left;
padding-left: 10px;
font-family: 'Montserrat', sans-serif;
}