.footer {
  background-color: #364452;
  width: 100%;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.fa-linkedin-square {
  color: #ffffff;
  font-size: 80px;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-github {
  font-size: 86px;
  color: #ffffff;
  margin: 0 200px;
}

.fa-file-text {
  font-size: 86px;
  color: #ffffff;
}

#copyright {
  color: #ffffff;
  margin-bottom: 0;
  padding-bottom: 20px;
}

a span {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
 }

 .fa-linkedin-square:before {
  content: "\f08c";
  font-size: 86px;
}

.fa-github:before {
  content: "\f09b";
  font-size: 86px;
}

.fa-file-text:before {
  content: "\f15c";
  font-size: 75px;
}