.contactme-box {
  background-color: #1E2934;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactme-header {
  height: 150px;
  text-align: center;
  
}

#contactme-title {
color: #96f5e8;
font-size: 36px;
font-family: 'Montserrat', sans-serif;
}

#contactme-message {
color: #ffffff;
font-family: 'Montserrat', sans-serif;
}

.contacts {
  width: 80%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.contactme-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  height: 100%;
}

.contactme-form > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contactme-form > div > label {
  display: flex;
  justify-content: left;
  width: 70%;
  padding-bottom: 10px;
  color: #ffffff;
}

input {
  height: 25px;
  width: 70%;
  border: none;
  border-bottom: 1.5px solid white;
  border-radius: 0px;
  background-color: #1E2934;
}

input:focus {
  outline: none !important;
}

.pageclip-form > div > div {
  width: 70%;
}

textarea {
  height: 100px;
  width: 70%;
  resize: none;
  background: #e2e1e0;
}

.submit-button {
  height: 60px;
  width: 15%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px
}

button > span {
  display: flex;
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer {
  background-color: #364452;
  width: 100%;
}

.icons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-linkedin-square {
  color: white;
  font-size: 80px;
  width: 56px;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  margin-right: 69px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-github {
  font-size: 86px;
  color: white;
}

#copyright {
  color: #ffffff;
}