.header-container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

#home-img {
  min-width: 100%;
  height: 500px;
}

#name-logo {
  margin-left: 20px;
  position: absolute;
  top: -39px;
  left: 16px;
  color: #96f5e8;
  font-size: 54px;
  font-family: 'Montserrat', sans-serif;
}

.links {
  list-style: none;
  position: absolute;
  padding: 10px;
  top: 8px;
  right: 16px;
}

#aboutme-link, #projects-link, #contactme-link, #home-link {
  display: inline;
  padding: 0 10px;
  font-size: 18px;
}

#home-link a, #contactme-link a {
  color: #96f5e8;
  text-decoration: none;
}

#aboutme-link a, #projects-link a {
  color:#ffffff;
  text-decoration: none;
}

.short-bio {
  position: absolute;
  top: 31%;
  left: 33%;
  font-weight: bold;
}

#s-bio-img {
  height: 175px;
  width: 175px;
  border-radius: 50%;
}

#intro-name {
  color: #96f5e8;
  font-size: 56px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

#intro-statement {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  margin-top: 0;
}


