.projects-box {
  background-color: #dbdbdb;
  padding: 50px 50px 100px 50px;
}

.projects-box-header {
  padding-bottom: 30px;
  text-align: left;
}

#projects-section-title {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
}

#projects-intro-message {
  font-family: "Montserrat", sans-serif;
}

#project-imgs {
  width: 30%;
  border-radius: 6px;
}

.project-cards {
  background-color: #1e2934;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  padding: 50px;
  box-shadow: 10px 10px 33px 4px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  margin-bottom: 60px;
}

.card-content {
  padding-left: 50px;
  padding-right: 150px;
}

.projects-name {
  font-family: "Montserrat", sans-serif;
  color: #96f5e8;
  font-size: 36px;
}

.projects-description {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 26px;
}

.project-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}

.ls-buttons {
  height: 50px;
  width: 150px;
  background: #1e2934;
  color: #ffffff;
  border: 2px solid #96f5e8;
  border-radius: 10px;
  font-weight: bold;
  font-size: 21px;
  outline: none;
}

.gh-buttons {
  height: 50px;
  width: 150px;
  background: #1e2934;
  color: #ffffff;
  border: 2px solid #96f5e8;
  border-radius: 10px;
  font-weight: bold;
  font-size: 21px;
  outline: none;
}

/* @media screen and (max-width:990px) {
  .projects-box {
      background-color: #dbdbdb;
      padding: 50px 50px 100px 50px;
      max-width: 600px;
      display: flex;
      margin: auto;
      display:flex;
    }
    .project-cards {
      background-color: CEE0DC;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      padding: 10px;
      box-shadow: 10px 10px 20px 4px rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      margin-bottom: 60px;
    }
    .card-content {
      padding: 0;
      text-align: center;
  }
  .projects-description {
      text-align: center;
      margin: 0 50px 0 50px;
      font-size: 18px;
    }
    .project-imgs {
      width: 390px;
      border-radius: 6px;
      display: flex;
      margin: auto;
      margin-top: 20px;
    }
    .project-buttons {
      display: flex;
      justify-content: space-evenly;
      margin-top: 50px;
      margin-bottom: 30px;
  }
} */