.projects-box {
  background-color: #DBDBDB;
  padding: 50px 50px 100px 50px;
}

.projects-box-header {
  padding-bottom: 30px;
  text-align: left;
}

#projects-section-title {
  /* color: #96f5e8; */
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
}

#projects-intro-message {
  /* color: #ffffff; */
  font-family: 'Montserrat', sans-serif;
}

#project-imgs {
  width: 30%;
  border-radius: 6px;
}

.project-cards {
  background-color: #1E2934;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  padding: 50px;
  box-shadow: 10px 10px 33px 4px rgba(0,0,0,0.75);
  border-radius: 5px;
  margin-bottom: 60px;
}

.card-content {
  padding-left: 50px;
  padding-right: 150px;
}

.projects-name {
  font-family: 'Montserrat', sans-serif;
  color: #96f5e8;
}

.projects-description {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}
